<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:52</td>   <td>17595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:53</td>   <td>18534</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:53</td>   <td>18483</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:16</td>   <td>-18108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:18</td>   <td>-16301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:35</td>   <td>886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/29 15:53:15</td>   <td>-19785</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 15:53:27</td>   <td>-6984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">login</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 15:53:42</td>   <td>7350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">login</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/29 15:53:16</td>   <td>-18126</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:testcases.TC001_LoginAndLogout@55d56113]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
</table>
